body{
	margin:0;
	padding:0;
	background:url(../images/back10.jpg) no-repeat;
	background-size:cover;
} 
.box{
	width:450px;
	background:rgba(0,0,0,0.5);
	padding:20px;
	text-align:center;
	margin:auto;
	margin-top:5%;
	color:white;
	font-family:'Century Gothic',sans-serif;
}
.box-img{
	
	width:150px;
	height:150px;
	border-radius: 30%;
} 
.box h1{
	font-size:40px;
	letter-spacing:1px;
	font-weight:100;
}
.box h5{
	font-size:20px;
	letter-spacing:2px;
	font-weight:100;
}
.box p{
	text-align:justify;
}
ul{
	margin:0;
	padding:0;
}
.box li{
	display:inline-block;
	margin:6px;
	list-style:none;
}
.box li a{
	color:black;
	text-decoration:none;
    font-size:60px;
    transition:all ease-in-out 250ms;
}
.box li a:hover{
	color:#b9b9b9;
}